# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.rar

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains visual settings and window sizes that are not needed in a repository.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Mac/iOS/Web/Windows related
**/ios/**/*.xcuserstate
**/ios/.generated/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/